@model IEnumerable<eStore.Models.ProductOrder>

@{
    ViewData["Title"] = "Index";
}

@{
    double counter =0.0;
 }
<table class="table container" style="width:fit-content; margin-top:50px; text-align:center;
color:var(--main-color-opp);">
    <thead>
        <tr>
            @if (User.IsInRole("admin"))
{ 
           <th>
               Customer
            </th>
}
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Item Price
            </th>
            <th>
                Total Price
            </th>
            <th>
                Shipping Date
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>
                    Email
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.customer.UserName)
                    </td>
                }
                <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @{
                        double res = (double)item.Price * item.Quantity;
                        counter += res;
                    }
               @res
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.customer.Email)
            </td>
                }
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |*@
                <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Product_id">Details</a> |
                <a onclick="return confirm('Are you sure?')"  asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<script>
    function checkout()
    {
        let check = confirm('Pay your depts?');
        if(check)
        {
            alert("Your order 's been submitted.Thank you.");
        }
    }
</script> 
<div class="container" style="text-align:center; color:var(--main-color-opp)">
    <h4>Total amount =<span style="color:var(--main-color-alt)">@counter</span>  $</h4>
    <a href="cart/checkedOut" onclick="checkout()"><h3>check out</h3></a>
    <a href="/product/index">continue shopping </a>
</div>